* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(32, 129, 111);
}


.central {
  background-color: #242424; 
  height: 800px; 
  width: 800px; 
  position: absolute; 
  transform: translate(-50%, -50%) perspective(1200px) rotateX(25deg);
  left: 49.7%; 
  top: 44%; 
  border-radius: 2%;
}

.principal { 
  width: 80%;
  max-width: 600px;
  height: 70vh;
  max-height: 700px;
  border: 8px solid aliceblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  border-radius: 10%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) perspective(1200px) rotateX(35deg);
  background: linear-gradient(
    to bottom,
    rgb(20, 143, 20) 0%,
    rgb(20, 143, 20) 50%,
    darkgreen 50%,
    darkgreen 100%
  );
  background-size: 100% 91.2px; /* Define a altura das linhas */
  background-repeat: repeat-y; /* Repete verticalmente */
}

.elemento_gol {
  width: 40%;
  max-width: 150px;
  height: 20%;
  max-height: 40px;
  background-color: transparent;
  border: 5px solid aliceblue;
  border-radius: 2%;
  position: absolute;
  top: 103.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.linha {
  background-color: aliceblue;
  height: 6.5px;
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 50%;
}

.circulo {
  position: absolute;
  top: 42.5%;
  left: 40.3%;
  width: 105px;
  height: 105px;
  background-color: transparent;
  border: 5px solid aliceblue;
  border-radius: 50%;
}

.jogador {
  position: absolute;
  top: 83%;
  left: 42.5%;
  width: 80px;
  height: 80px;
  background-color: rgb(32, 129, 111);
  border: 5px solid rgb(32, 129, 111);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: aliceblue; 
  font-size: 35px; 
  font-weight: 900;
}

.meio {
  top: 44.3%; 
  left: 42.5%;
}


.add {
  text-transform: uppercase; 
  cursor: pointer; 
  margin-left: 21%; 
  margin-top: -6%;

}

@media (max-width: 600px) {

  .principal {
    width: 90%;
    height: 70%;
    max-height: none;
    transform: translate(-50%, -50%);
    border-radius: 2%;
  }
  
  .central {
    background-color: #242424; 
    height: 1000px; 
    border-radius: 0%;
    width: 598px; 
    position: absolute; 
    transform: translate(-50%, -50%);
    left: 49.7%; 
    top: 34%; 
  }

  .jogador {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: rgb(32, 129, 111);
    border: 5px solid rgb(32, 129, 111);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    font-size: 25px; 
    font-weight: 900;
  }
  
  .add {
    margin-left: 26%; 
    margin-top: 0%;
  }

  .circulo {
    left: 37.2%
  }

  .meio {
    top: 45.2%; 
    left: 41.2%;
  }

  .goleiro {
    left: 41%;
  }
}

@media (max-width: 480px) {
  .central {
    background-color: #242424;
    height: 1000px;
    width: 471px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 49.7%;
    top: 34%;
  }

  .principal {
    width: 100%;
    height: 70vh;
    max-height: none;
  }

}
