* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(32, 129, 111);
}

.central {
  background-color: #242424; 
  height: 800px; 
  width: 800px; 
  position: absolute; 
  transform: translate(-50%, -50%) perspective(1200px) rotateX(25deg);
  left: 49.7%; 
  top: 44%; 
  border-radius: 2%;
}

.principal { 
  width: 80%;
  max-width: 600px;
  height: 70vh;
  max-height: 700px;
  border: 8px solid aliceblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  border-radius: 10%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) perspective(1200px) rotateX(35deg);
  background: linear-gradient(
    to bottom,
    rgb(20, 143, 20) 0%,
    rgb(20, 143, 20) 50%,
    darkgreen 50%,
    darkgreen 100%
  );
  background-size: 100% 91.2px; /* Define a altura das linhas */
  background-repeat: repeat-y; /* Repete verticalmente */
}

.elemento_gol {
  width: 40%;
  max-width: 150px;
  height: 20%;
  max-height: 40px;
  background-color: transparent;
  border: 5px solid aliceblue;
  border-radius: 2%;
  position: absolute;
  top: 103.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}